@page "/"
@using BalzorMongoDB.Data

@inject BalzorMongoDB.IService.IStudentService studentService

@*CSS to get image*@
<style>
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>

@*header title*@
<h1 style="font-family:verdana;color:red; text-align:center; font-size:300%;"><b>Home Finder</b></h1>
<br />
<br />

@*displaying image*@
<div>
	<img src="/Images/home.jpg" asp-append-version="true" width="700px" class="center" />
</div>

<br/>
<br/>

@*group member's *@
<h4 style="font-family:verdana;color:black; text-align:center; font-size:120%;">
	Created by: Brandon Hermez, Jood Otey, Absalat Getachew, Denise Rauschendorfer, Elira Shaska
</h4>

